@CHARSET "UTF-8";

body
{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #FFFFFF;
}

img
{
	border: 0;
}

table
{
	border-collapse:collapse;
	border-color: balck;
}

tr,td
{
	vertical-align: top;
}

h1
{
	font-size:42px;
}

h2
{
	font-size:24px;
}

h3
{
	font-size:18px;
}

a
{
	color:#000000;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

#wrapper
{
	width: 1000px;
	margin: 0 auto;
	border-left: solid 1px white;
	border-right: solid 1px white;

	text-align: left;
	overflow-x:hidden;
	font-family: sans-serif;
	font-size: 15px;
	background:purple;
	color:#000000;
}

#header
{
	padding: 5px;
	background-color: #F1FEDB;
}

#header h1
{
	margin:0;
}

#content
{
	padding: 5px;
	background-color: #FFFFCC;
}

#footer
{
	padding: 5px;
	background-color: #F1FEDB;
}

.content_box
{
	border: 1px solid;
	margin: 10px;
	padding: 5px;
	width: 96%;
	
	background-color:#FFFFFF;
	font-size: 1.1em;
	font-family: monospace;
}

.codearea
{
	border: 1px solid;
	margin: 10px;
	padding: 5px;
	height: 400px;
	width: 96%;
	
	overflow-y: scroll;
	background-color:#FFFFFF;
	font-size: 13px;
	font-family: monospace;
}
